.DS_Store
.cache/
node_modules/
*/*/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode

# ignore static files of site
dist/
example/local/
